<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body>
<div th:replace="fragments/Navi_frag.html :: navigator"></div>


<div id="page" class="page">

    <div class="about-section" id="history">
        <div class="topic-heading">
            <h1>Our History</h1>
        </div>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>
    <br>

    <div class="about-hotel">
        <h2>Know more about us</h2>
        <p>The Luxury hotel offers the ultimate in comfort, style, and service. Guests can expect to be treated to
            spacious,
            elegantly appointed rooms and suites, complete with the latest in modern amenities. The hotel's facilities are
            designed
            to cater to the needs of even the most discerning traveler, with features such as a full-service spa, a
            state-of-the-art
            fitness center, and multiple dining options that range from casual bistros to fine dining restaurants. The hotel
            staff is
            dedicated to providing personalized attention and exceptional service, ensuring that every guest's stay is truly
            unforgettable.
            Whether you are planning a romantic getaway, a family vacation, or a business trip, a luxury hotel offers the
            perfect blend of elegance,
            comfort, and convenience. So, if you're looking for a luxurious and relaxing experience, a luxury hotel is an
            excellent choice.</p>

    </div>

    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h2>2017</h2>
                <p>The hotel completed its most recent renovation, further enhancing the guest experience with the addition of
                    additional amenities such as a swimming pool and a business center. Throughout its history, Luxary Hotel has
                    remained true to its vision of providing guests with the ultimate luxury experience</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2016</h2>
                <p>The hotel's main restaurant was refurbished and rebranded to offer a more upscale dining experience. The
                    hotel's bar also received a facelift and expanded its menu to include a wider range of cocktails and wines.
                </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2>2015</h2>
                <p>The hotel introduced its exclusive Executive Lounge, which was exclusively available to guests staying in
                    executive level rooms. The lounge was designed to provide a comfortable and productive space for business
                    travelers, with amenities such as a private meeting room, complimentary high-speed internet, and a dedicated
                    concierge.

                </p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2012</h2>
                <p>Luxury hotel added a rooftop restaurant and lounge, which offered stunning views of the city. The
                    restaurant served delicious food and cocktails, and became a popular spot for guests to unwind and enjoy a
                    meal.</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2>2011</h2>
                <p>The hotel added a new spa and fitness center, which quickly became a favorite among guests looking to relax
                    and rejuvenate during their stay. The spa offered a variety of treatments such as massages, facials, and
                    body wraps, while the fitness center was equipped with the latest cardio and strength-training equipment.
                </p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2007</h2>
                <p>Luxary Hotel underwent a major renovation, introducing new guest rooms and upgrading its facilities.</p>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/Footer_frag.html :: footer"></div>

</body>


</html>