<!DOCTYPE html>
<html lang="en" dir="ltr"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title> BHATTI (Newari Cuisine) </title>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/638bfd91daff0e1306dacc54/1gjddd0do';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();


    </script>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="shortcut icon" type="x-icon" th:href="@{~/images/logo-b.png}">
    <link rel="stylesheet" th:href="@{~/css/footerStyle.css}">
    <link rel="stylesheet" th:href="@{~/css/home_navigationStyle.css}">
    <link rel="stylesheet" th:href="@{~/css/feedback.css}">
    <link rel="stylesheet" th:href="@{~/css/checkOffer.css}">
    <!--    <link rel="stylesheet" th:href="@{~/css/homepageStyle.css}">-->

</head>

<body>
<section>
    <div th:replace="fragments/Navi_frag :: navigator"></div>


    <section>

    <script>
        const popup=document.querySelector('.popup');
        const close=document.querySelector('.close');
        window.onload = function(){
            setTimeout(function(){
                popup.style.display="block"
            }, 5000)
        }
        close.addEventListener('click' , () => {
            popup.style.display= "none";
        })
    </script>

    <div class="suggest-problem">

    </div>
    <div class="container-fluid contact" id="contact">
        <div class="container">
            <form th:method="post" th:action="@{/user/savefeedback}" th:object="${feedback}">
                <h2>Guest Experience Feedback</h2>
                <input type="email" placeholder="Email"  class="full-half" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required th:field="*{email}" th:value="${feedback.email}">
                <input type="text" placeholder="Name"   class="full-half" required th:field="*{fullname}" th:value="${feedback.fullname}">
                <input type="text" placeholder="Subject"  required th:field="*{subject}" th:value="${feedback.subject}">
                <textarea placeholder="Message"  required th:field="*{message}" th:value="${feedback.message}"></textarea>


                <input type="submit" onclick="allert()" value="Send">
            </form>
        </div>
    </div>



</section>
    <div th:replace="fragments/Footer_frag.html :: footer"></div>
<script>
    function allert(){
        alert("Successfully Submitted")
    }
</script>
</body>

</html>