<div th:fragment="admin_navigation">
    <!--    Nav bar-->
    <nav class="navi">
        <label class="logo"> <a href="#"><img th:src="@{~/images/logo-b.png}" alt=""></a></label>
        <h1>Bhatti (Newari Cusine): Admin </h1>

    </nav>
    <div id="mySidenav" class="sidenav">
        <label class="logoInNav"> <a href="#"><img src="@{~/images/logo-b.png}" alt=""></a></label>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="list-group-item" id="new" th:href="@{~/admin/list}">Order List</a>

        <a class="list-group-item" id="book" th:href="@{~/admin/contactfetch}">View FeedBack</a>


        <a class="list-group-item"  id="settings" th:href="@{~/admin/admin_profile}">Settings</a>
        <a class="list-group-item" id="logout" th:href="@{~/logout}" style="margin-top: 150px">Logout</a>
    </div>
    <span class="burger" onclick="openNav()">&#9776;</span>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</div>